.bg-color {
    background-color: #1abc9c;
}

.head h1 {
    position: relative;
    font-weight: 800;
}

.head h1::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 80%;
    height: 3px;
    transform: translateX(15%);
    background-color: rgb(48, 24, 70);
}

.head i {
    font-size: 20px;
    color: white;
    z-index: 2;
    transform: translateY(5px);
}